@font-face {
    font-family: 'Conv_Snake Jacket12';
    src: url('fonts/Snake Jacket12.eot');
    src: local('☺'), url('fonts/Snake Jacket12.woff') format('woff'), url('fonts/Snake Jacket12.ttf') format('truetype'), url('fonts/Snake Jacket12.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Player One';
    src: url('fonts/Player One.eot');
    src: local('☺'), url('fonts/Player One.woff') format('woff'), url('fonts/Player One.ttf') format('truetype'), url('fonts/Player One.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AUBREY1__';
    src: url('fonts/AUBREY1__.eot');
    src: local('☺'), url('fonts/AUBREY1__.woff') format('woff'), url('fonts/AUBREY1__.ttf') format('truetype'), url('fonts/AUBREY1__.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: cursive;
    font-size: 16px;
}

header {
    font-size: 17px;
    border: 0;
    font-family: 'Conv_AUBREY1__';
}

header .navbar-inverse {
    margin-bottom: 0;
}

header .navbar {
    background:#000*linear-gradient(0deg, #050505, #151515, #050505);*/
}

header .navbar-header .navbar-brand {
    padding: 0;
    display: inline-block;
}

header .collapse {
    padding: 0;
}

.header-logo img {
    height: 50px;
}

#login-button{
    color:;
    font-size: 15px;
    font-family: cursive;
}

#register-button {
    padding-right: 0;
    color:;
    font-size: 15px;
    font-family: cursive;
}

#login-button:hover, #register-button:hover{
    font-size: 20px;
}

#login-form {
    margin: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: 0.95;
    color: #eee;
    display: none;
    position: absolute;
}

#login-form .col-sm-4 {
    background: #000;
}

.form-element {
    display: block;
    height: 35px;
    width: 100%;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    color: #000;
}

#email-form {
    margin: 5px 0;
}

#password-form {
    margin: 5px 0;
}

.button-me {
    color: #111;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 4px;
}

.login-form-button-group {
    text-align: right;
}

#button-me-login {
    display: inline-block;
}

#butt on-me-cancel {
    display: inline-block;
}

/* ---------------------------------header end--------------------------------------------*/


.content{
    width: 100%;
    background: #fff;
    display: inline-block;
    padding:0;
    margin-top: 2%;
    
}

.margin-left{
    display: inline-block;
    width: 100%;
}
.col-sm-12 .text-top{
    text-align: center;
}
#text-big{
    font-size: 300%;
    font-family: arial
}
#text-small{
    font-size: 150%;
    color:coral;
    margin-bottom: 5%;
}
.img-video img{
    width: 100%; 
}

.img-video a i{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ddd;
    font-size: 450%;
    z-index: 2;
/*    display: none;*/
}

.img-video-extra{
    position: absolute;
    top: 0;
    left: 0;
    width: 96.6%;
    height: 74%;
    background: #000;
    opacity: 0.4;
    z-index: 1;
/*    display: none;*/
    margin-left: 1.8%;
}

#title{
    font-size: 200%;
    text-align: center;
    margin-top: 2%;
    color: black
}
.watchlive{
    display: inline-block;
}

.artist p{
    display: inline-block;
}
.artist{
    display: inline-block;
    margin-left: 30%;
    font-size: 90%;
}

.text-video-right{
    display: inline-block;
    font-family: arial;
    padding-left: 0;
    
}
.text-model{
    display: inline-block;
    font-size: 90%;
}


.margin-right{
    display: inline-block;
    width: 100%;
}
.top-video-right img{
    width: 100%;
}
.margin-right ul{
    list-style: none;
    display: inline-block;
    /*width: 100%;*/
}
.margin-right .video{
    display: block;
    margin-bottom: 5px;
}
.margin-right .video a{
    display: inline-block;
    position: relative;
}

.video li{
    display: inline-block;
}

.video img{
    display: inline-block;
    width: 100%;
}

.video a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ddd;
    font-size: 180%;
    z-index: 2;
    display: none;
}

.video-extra{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 1;
    display: none;
}
.text-video-right{
    display: inline-block;
}
.adrees{
    color: black;
}
.club-video{
    font-size: 70%;
    display: inline-block;
}
.date-video{
    font-size: 70%;
}



/* footder */
.footder{
    width: 100%;
    display: inline-block;
    padding-top: 10%
}

.col-sm-2{
    padding-left: 0;
    margin-left: 5%
}

.title-footder{
    text-align: center;
    font-family: arial;
    
}
.title-big{
    font-size: 250%;
}
.title-small{
    font-size: 150%;
    color: coral;
}

.top-video-footder{
    width: 120%;
    display: block;
}

.top-video-footder ul{
    margin-bottom: 10%;
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.text-video-footder li a{
    display: block;
}
.text-video-footder{
    display: inline-block;
}

.video-footder ul{
    list-style: none;
    display: block;
}

.video-footder .listvideo-footder{
    display: block;
    margin-bottom: 5px;
    width: 100%;
}


.video-footder .listvideo-footder a{
    display: inline-block;
    position: relative;
    width: 100%;
}

.listvideo-footder li{
    display: inline-block;
}

.listvideo-footder img{
    display: inline-block;
    width: 100%;
}


.listvideo-footder a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ddd;
    font-size: 250%;
    z-index: 2;
    display: none;
}

.videofootder-extra{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 1;
   display: none;
}
.text-video-footder{
    font-family:  a;
}








/*_____end menu______*/

/* footer */

#footerPage {
    border-top: 1px solid #333;
    background: #373737;
    margin-bottom: 70px;
}

#footerPage .col-sm-12,.footerPage .col-sm-3,.footerPage .col-sm-2{
    padding: 0;
}

.hot-event {
    width: 100%;
    display: inline-block;
    padding-right: 10px;
}

.hot-event img {
    display: inline-block;
    width: 100%;
}

.magazine {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-right: 10px;
}

.magazine-title {
    color: #ff6567;
    font-size: 110%;
    margin-bottom: 0.5em;
}

.magazine-link{
    display: block;
    color: #01b1e6;
    margin-bottom: 0.4em;
}

.magazine-link:hover{
    color: aqua;
    text-decoration: none;
}

.footer-info {
    color: #fff;
    margin-bottom: 0.4em;
    font-size: 95%;
    padding-right: 0.5em;
}

.sharing {
    display: inline-block;
    width: 100%;
    color: red;
    vertical-align: top;
    padding-right: 10px;
}

.sharing a {
    text-decoration: none;
    display: block;
    margin: 0.4em;
    color: #fff;
}

.sharing a:hover{
    color: #44eeee;
}

.sharing-title {
    color: #ff6567;
}

.sharing img {
    width: 1.1em;
}

.explore-beatport {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    padding-right: 10px;
}

.explore-beatport-title {
    color: #ff6567;
    font-size: 110%;
}

.explore-beatport a{
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.explore-beatport a:hover{
    color: #55ffff;
}

.info-beatport {
    width: 100%;
    display: inline-block;
    color: #fff;
    vertical-align: top;
}

.info-beatport-title {
    color: #ff6567;
    font-size: 110%;
}

.info-beatport a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.info-beatport a:hover{
    color: #55ffff;
}

.footer-bottom {
    color: #fff;
    margin-top: 3em;
    text-align: right;
}

.footer-bottom p {
    display: inline-block;
    margin-right: 2em;
}

.footer-bottom a {
    display: inline-block;
    text-decoration: none;
    color: #00aaff;
    margin: 0 1em;
}

.footer-bottom a:hover{
    color: #55ffff;
}

/* end footer */

/* Audio */

#myTune{
    display: none;
}

.tag-playmusic{
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999998;
    background: #111;
}

.playmusic-info{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    float: left;
    margin-right: 1%;
}

.imgPlayMusic{
    display: inline-block;
    width: 39%;
    float: left;
    overflow: hidden;
    height: 100%;
    margin-right: 1%;
    text-align: right;
}

.playmusic-info img{
    height: 100%;
    display: inline-block;
}

.playmusic-info .textPlayMusic{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 60%;
    float: left;
}

.playmusic-info .textPlayMusic a{
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: #44aabb;
}

.playmusic-info .textPlayMusic a:hover{
    color: #aacccc;
}

#playButton .glyphicon-pause{
    display: none;
}

.playmusic-time{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 36%;
    float: left;
    margin: 0;
    margin-right: 1%;
}

#playmusic-start{
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    color: #fff;
    width: 17%;
    float: left;
    margin-right: 1%;
    text-align: center;
}

#playmusic-process{
    height: 5px;
    border:1px solid #a00;
    display: inline-block;
    width: 63%;
    vertical-align: top;
    margin-top: 33px;
    float: left;
    margin-right: 1%;
}

#playmusic-end{
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    color: #fff;
    width: 18%;
    float: left;
    text-align: center;
}

#playmusic-process{
    cursor: pointer;
}

#playmusic-process::-webkit-progress-bar{
    background: #eee;
}

#playmusic-process::-webkit-progress-value{
    background: #b00;
}

.playmusic-button{
    width: 37%;
    margin: 0;
    display: inline-block;
    float: left;
    height: 100%;
}

#playButton, #pauseButton, #loopButton,#playmusic-prev,#playmusic-next,#volume{
    border: 0;
    font-size: 100%;
    padding: 2px 5px;
    background: transparent;
    color: #888;
    margin-top: 23px;
    vertical-align: top;
    outline: none;
    display: inline-block;
    text-align: center;
}

#playmusic-prev,#playmusic-next{
    float: left;
    width: 12%;
    margin-left: 0;
    margin-right: 1%;
}

#playButton{
    font-size: 180%;
    color: #fff;
    margin-top: 14px;
    width: 15%;
    margin-right: 1%;
    float: left;
}

#loopButton{
    float: left;
    width: 12%;
    margin-right: 1%;
    display: inline-block;
}

#volume{
    margin-top: 0;
    color: #fff;
    font-size: 130%;
    height: 100%;
    display: inline-block;
    padding: 0;
    width: 45%;
    float: left;
    text-align: center;
}

#volumeButton{
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    background: transparent;
    width: 29%;
    border : 0;
    float: left;
    margin-right: 1%;
    outline: none;
}

#volumeButton .glyphicon-volume-down, #volumeButton .glyphicon-volume-off{
    display: none;
}

#volumeProBar{
    height: 7px;
    display: inline-block;
    vertical-align: top;
    margin-top: 31px;
    border: 0px;
    width: 62%;
    margin-right: 8%;
    cursor: pointer;
}

#volumeProBar::-webkit-progress-bar{
    background: #fff;
}