body {
    padding: 0;
    margin: 0;
}

.slider-na{
    display: inline-block;
    width: 100%;
}

.slider-na-img {
    display: none;
    width: 100%;
}

.slider-na-img img{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.slider-na-img:first-child{
    display: inline-block;
}

.slider-na-control {
    display: inline-block;
    width: 100%;
}

.slider-2-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 49.75%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-3-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 33%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-4-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 24.625%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-5-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 19.6%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-6-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 16.25%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-7-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 13.857%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-8-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 12.0625%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-9-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 10.6666%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-na-button:last-child {
    margin-right: 0;
}

.slider-na-button-active {
    background: #151;
}