@font-face {
    font-family: 'Conv_Snake Jacket12';
    src: url('fonts/Snake Jacket12.eot');
    src: local('☺'), url('fonts/Snake Jacket12.woff') format('woff'), url('fonts/Snake Jacket12.ttf') format('truetype'), url('fonts/Snake Jacket12.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Player One';
    src: url('fonts/Player One.eot');
    src: local('☺'), url('fonts/Player One.woff') format('woff'), url('fonts/Player One.ttf') format('truetype'), url('fonts/Player One.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AUBREY1__';
    src: url('fonts/AUBREY1__.eot');
    src: local('☺'), url('fonts/AUBREY1__.woff') format('woff'), url('fonts/AUBREY1__.ttf') format('truetype'), url('fonts/AUBREY1__.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #000;
    padding: 0;
    margin: 0;
    font-family: cursive;
    font-size: 16px;
}




/* Header */
header {
    font-size: 17px;
    border: 0;
    font-family: 'Conv_AUBREY1__';
}

header .navbar-inverse {
    margin-bottom: 0;
}

header .navbar {
    background: linear-gradient(0deg, #050505, #151515, #050505);
}

header .navbar-header .navbar-brand {
    padding: 0;
    display: inline-block;
}

header .collapse {
    padding: 0;
}

.header-logo img {
    height: 50px;
}

#login-button{
    color: #fff;
    font-size: 15px;
    font-family: cursive;
}

#register-button {
    padding-right: 0;
    color: #fff;
    font-size: 15px;
    font-family: cursive;
}

#login-button:hover, #register-button:hover{
    font-size: 20px;
}

#login-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    color: #eee;
    display: none;
}

#login-form .col-sm-4 {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 0;
    padding: 20px 0;
    border-radius: 10px;
}

.login-title{
    width: 100%;
    display: block;
    border-left: 5px solid #ed2552;
}

#login-form h1{
    text-align: left;
    border: 0;
    width: 80%;
    color: #ed2552;
    margin: 0 auto;
}

.form-element{
    display: block;
    height: 35px;
    width: 80%;
    border: none;
    padding: 6px 12px;
    color: #000;
    border-bottom: 2px solid #ddd;
    outline: none;
}

.form-element::-webkit-input-placeholder{
    color: #ccc;
}

.form-element:focus{
    border-bottom: 2px solid #ed2552;
}

#email-form {
    margin: 50px auto 0 auto;
}

#password-form {
    margin: 50px auto 0 auto;
}

.remember-user{
    display: block;
    width: 80%;
    margin: 30px auto 0 auto;
}

.remember-user label{
    color: #aaa;
    font-size: 90%;
}

.login-form-button-group {
    margin: 30px auto 0 auto;
    text-align: center;
    height: 35px;
}

.button-me {
    color: #666;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 4px;
    width: 20%;
    margin: 0 1%;
    height: 100%;
}

.button-me:hover{
    transition: all 0.2s;
    width: 25%;
    height: 150%;
    margin: 0;
}

#button-me-login {
    display: inline-block;
}

#button-me-cancel {
    display: inline-block;
}

#fogotten-password{
    margin: 30px auto 0 auto;
    text-align: center;
}

#fogotten-password a{
    text-decoration: none;
}

#fogotten-password a:hover{
    color: #0cc;
}
/* End Header */




/*_____menu_____*/
#menu {
    color: #eee;
    background: #151515;
    font-size: 80%;
}

#menu a{
    color: #999;
    display: inline-block;
}

#menu a:hover{
    color: #555;
}

.form-search {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    color: #000;
    margin-top: 7px;
    margin-left: 10px;
}

.form-search input {
    height: 35px;
    border: 0;
    padding: 5px 10px;
    background: #333;
    color: #eee;
    outline: none;
}

.form-search button {
    height: 35px;
    width: 35px;
    border: 0;
    margin-left: -6px;
    background: #333;
    color: #eee;
}

#menu .pull-right {
    margin-top: 10px;
}

#menu .pull-right button {
    color: #000;
    display: inline-block;
}

#menu .pull-right .cart-info {
    display: inline-block;
}

#genres-wrap {
    border: 0;
    background: #1d1d1d;
}

#genres-wrap .col-sm-5 {
    padding: 0;
}

#genres-detail {
    display: none;
    background: #111;
    padding-top: 15px;
    position: absolute;
    top: 100%;
    float: left;
    z-index: 999999999;
    opacity: 0.95;
    width: 100%;
}

#genres-detail ul {
    display: inline-block;
    list-style: none;
    width: 49%;
}

#genres-detail li {
    margin-bottom: 5px;
}

#genres-detail li a {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: #8855cc;
}

#genres-detail li a:hover {
    border-bottom: 1px solid #aa1111;
    color: #dd55dd;
}
/*_____end menu______*/



/* footer */

#footerPage {
    border-top: 1px solid #333;
    background: #373737;
    margin-bottom: 70px;
}

#footerPage .col-sm-12,.footerPage .col-sm-3,.footerPage .col-sm-2{
    padding: 0;
}

.hot-event {
    width: 100%;
    display: inline-block;
    padding-right: 10px;
}

.hot-event img {
    display: inline-block;
    width: 100%;
}

.magazine {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-right: 10px;
}

.magazine-title {
    color: #ff6567;
    font-size: 110%;
    margin-bottom: 0.5em;
}

.magazine-link{
    display: block;
    color: #01b1e6;
    margin-bottom: 0.4em;
}

.magazine-link:hover{
    color: aqua;
    text-decoration: none;
}

.footer-info {
    color: #fff;
    margin-bottom: 0.4em;
    font-size: 95%;
    padding-right: 0.5em;
}

.sharing {
    display: inline-block;
    width: 100%;
    color: red;
    vertical-align: top;
    padding-right: 10px;
}

.sharing a {
    text-decoration: none;
    display: block;
    margin: 0.4em;
    color: #fff;
}

.sharing a:hover{
    color: #44eeee;
}

.sharing-title {
    color: #ff6567;
}

.sharing img {
    width: 1.1em;
}

.explore-beatport {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    padding-right: 10px;
}

.explore-beatport-title {
    color: #ff6567;
    font-size: 110%;
}

.explore-beatport a{
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.explore-beatport a:hover{
    color: #55ffff;
}

.info-beatport {
    width: 100%;
    display: inline-block;
    color: #fff;
    vertical-align: top;
}

.info-beatport-title {
    color: #ff6567;
    font-size: 110%;
}

.info-beatport a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.info-beatport a:hover{
    color: #55ffff;
}

.footer-bottom {
    color: #fff;
    margin-top: 3em;
    text-align: right;
}

.footer-bottom p {
    display: inline-block;
    margin-right: 2em;
}

.footer-bottom a {
    display: inline-block;
    text-decoration: none;
    color: #00aaff;
    margin: 0 1em;
}

.footer-bottom a:hover{
    color: #55ffff;
}
/* end footer */



/* Audio */
#myTune{
    display: none;
}

.tag-playmusic{
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999998;
    background: #111;
}

.playmusic-info{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    float: left;
    margin-right: 1%;
}

.imgPlayMusic{
    display: inline-block;
    width: 39%;
    float: left;
    overflow: hidden;
    height: 100%;
    margin-right: 1%;
    text-align: right;
}

.playmusic-info img{
    height: 100%;
    display: inline-block;
}

.playmusic-info .textPlayMusic{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 60%;
    float: left;
}

.playmusic-info .textPlayMusic a{
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: #44aabb;
}

.playmusic-info .textPlayMusic a:hover{
    color: #aacccc;
}

#playButton .glyphicon-pause{
    display: none;
}

.playmusic-time{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 36%;
    float: left;
    margin: 0;
    margin-right: 1%;
}

#playmusic-start{
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    color: #fff;
    width: 17%;
    float: left;
    margin-right: 1%;
    text-align: center;
}

#playmusic-process{
    height: 5px;
    border:1px solid #a00;
    display: inline-block;
    width: 63%;
    vertical-align: top;
    margin-top: 33px;
    float: left;
    margin-right: 1%;
}

#playmusic-end{
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    color: #fff;
    width: 18%;
    float: left;
    text-align: center;
}

#playmusic-process{
    cursor: pointer;
}

#playmusic-process::-webkit-progress-bar{
    background: #eee;
}

#playmusic-process::-webkit-progress-value{
    background: #b00;
}

.playmusic-button{
    width: 37%;
    margin: 0;
    display: inline-block;
    float: left;
    height: 100%;
}

#playButton, #pauseButton, #loopButton,#playmusic-prev,#playmusic-next,#volume{
    border: 0;
    font-size: 100%;
    padding: 2px 5px;
    background: transparent;
    color: #888;
    margin-top: 23px;
    vertical-align: top;
    outline: none;
    display: inline-block;
    text-align: center;
}

#playmusic-prev,#playmusic-next{
    float: left;
    width: 12%;
    margin-left: 0;
    margin-right: 1%;
}

#playButton{
    font-size: 180%;
    color: #fff;
    margin-top: 14px;
    width: 15%;
    margin-right: 1%;
    float: left;
}

#loopButton{
    float: left;
    width: 12%;
    margin-right: 1%;
    display: inline-block;
}

#volume{
    margin-top: 0;
    color: #fff;
    font-size: 130%;
    height: 100%;
    display: inline-block;
    padding: 0;
    width: 45%;
    float: left;
    text-align: center;
}

#volumeButton{
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    background: transparent;
    width: 29%;
    border : 0;
    float: left;
    margin-right: 1%;
    outline: none;
}

#volumeButton .glyphicon-volume-down, #volumeButton .glyphicon-volume-off{
    display: none;
}

#volumeProBar{
    height: 4px;
    display: inline-block;
    vertical-align: top;
    margin-top: 33px;
    border: 0px;
    width: 62%;
    margin-right: 8%;
    cursor: pointer;
}

#volumeProBar:hover{
    height: 6px;
    margin-top: 32px;
}

#volumeProBar::-webkit-progress-bar{
    background: #fff;
}
/* End Audio */



/* Register Form */

.register-form{
    color: #eee;
    background: #transparent;
    height: 100%;
    position: fixed;
    z-index: 999999999;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.extra{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999998;
    background: #000;
    opacity: 0.5;
    display: none;
}

.register-form .col-sm-4{
    border-radius: 10px;
    background: #22323A;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.register-form h1{
    text-align: center;
}

.register-form input{
    padding: 8px 10px;
    background: transparent;
    border: 1px solid #448888;
}

.register-form input::-webkit-input-placeholder{
    color: #666 !important;
}

#register-form-name{
    width: 100%;
    display: block;
    margin-top: 30px;
    border: 0;
}

#register-firstname{
    display: inline-block;
    width: 45%;
    float: left;
}

#register-lastname{
    display: inline-block;
    width: 45%;
    float: right;
}

#register-form-email{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

#register-email{
    display: inline-block;
    width: 89%;
    float: left;
    margin-right: 1%;
}

#register-form-email .glyphicon-ok{
    display: none;
    color: #00dd00;
}

#register-form-email .glyphicon-warning-sign{
    color: #dd0000;
}

#register-form-email i{
    display: block;
    float: left;
    width: 10%;
    text-align:center;
    vertical-align: top;
    margin-top: 10px;
    font-size: 120%;
}

#register-form-password{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

#register-password{
    display: inline-block;
    width: 89%;
    float: left;
    margin-right: 1%;
}

#register-form-password .glyphicon-ok{
    color: #00dd00;
}

#register-form-password .glyphicon-warning-sign{
    display: none;
    color: #dd0000;
}

#register-form-password i{
    display: block;
    float: left;
    width: 10%;
    text-align:center;
    vertical-align: top;
    margin-top: 10px;
    font-size: 120%;
}

#register-form-confirm-password{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

#register-confirm-password{
    display: inline-block;
    width: 89%;
    float: left;
    margin-right: 1%;
}

#register-form-confirm-password .glyphicon-ok{
    color: #00dd00;
}

#register-form-confirm-password .glyphicon-warning-sign{
    display: none;
    color: #dd0000;
}

#register-form-confirm-password i{
    display: inline-block;
    float: left;
    width: 10%;
    text-align:center;
    vertical-align: top;
    margin-top: 10px;
    font-size: 120%;
}

#register-form-terms{
    margin-top: 30px;
}

#register-form-button{
    margin-top: 30px;
    text-align: center;
    height: 40px;
    color: #000;
}

#register-form-button button{
    width: 30%;
    height: 100%;
    display: inline-block;
    color: #fff;
    background: #006868;
    border: 0;
}

#register-form-button button:hover{
    width: 36%;
    transition: all .2s;
    margin: 0;
    height: 120%;
}

#register-form-button-register{
    margin-right: 3%;
}

#register-form-button-cancel{
    margin-left: 3%;
}
/* end Register form */


/* Slider */
body{
    padding: 0;
    margin: 0;
}

.slider{
    display: inline-block;
    width: 100%;
}

.slider-img{
    display: none;
    width: 100%;
}

.slider-img img{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.slider-img:first-child{
    display: inline-block;
}

.slider-control{
    display: inline-block;
    width: 100%;
}

.slider-2-button{
    height: 5px;
    display: inline-block;
    float: left;
    width: 49.75%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-3-button{
    height: 5px;
    display: inline-block;
    float: left;
    width: 33%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-4-button{
    height: 5px;
    display: inline-block;
    float: left;
    width: 24.625%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-5-button{
    height: 5px;
    display: inline-block;
    float: left;
    width: 19.6%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-6-button{
    height: 5px;
    display: inline-block;
    float: left;
    width: 16.25%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-7-button{
    height: 5px;
    display: inline-block;
    float: left;
    width: 13.857%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-8-button{
    height: 5px;
    display: inline-block;
    float: left;
    width: 12.0625%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-9-button{
    height: 5px;
    display: inline-block;
    float: left;
    width: 10.6666%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-button:last-child{
    margin-right: 0;
}

.slider-button-active{
    background: #171;
}
/* End Slider */



/* Slider not auto */
body {
    padding: 0;
    margin: 0;
}

.slider-na{
    display: inline-block;
    width: 100%;
}

.slider-na-img {
    display: none;
    width: 100%;
}

.slider-na-img img{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.slider-na-img:first-child{
    display: inline-block;
}

.slider-na-control {
    display: inline-block;
    width: 100%;
    margin: 0;
    
}

.slider-2-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 49.75%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-3-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 33%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-4-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 24.625%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-5-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 19.6%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-6-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 16.25%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-7-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 13.857%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-8-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 12.0625%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-9-na-button {
    height: 5px;
    display: inline-block;
    float: left;
    width: 10.6666%;
    background: #aaa;
    margin-right: 0.5%;
    cursor: pointer;
}

.slider-na-button:last-child {
    margin-right: 0;
}

.slider-na-button-active {
    background: #151;
}
/* End Slider not auto  */



/* Song Horizontal */
.song-horizontal {
    display: inline-block;
    width: 25%;
    background-color: #333;
    height: 100px;
}

.song-horizontal button{
    cursor: pointer;
}

.song-horizontal-left {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    width: 30%;
    vertical-align: top;
    position: relative;
    color: #eee;
    height: 100%;
}

.song-horizontal-left p {
    display: inline-block;
    width: 100%;
    font-size: 250%;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}

.song-horizontal-left span{
    background: #444;
    z-index: 1;
    transition: 0.5s all;
}

.song-horizontal-left-top{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
}

.song-horizontal-left-right{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 0%;
    width: 0%;
}

.song-horizontal-left-bottom{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0%;
    width: 0%;
}

.song-horizontal-left-left{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 0%;
}

.song-horizontal-left button {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    color: #fff;
    position: absolute;
    font-size: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 20px;
    z-index: 2;
    opacity: 0;
    transition: 0.8s all;
}

.song-horizontal-right {
    display: inline-block;
    float: left;
    width: 70%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
}

.song-horizontal-right a{
    text-decoration: none;
}

.song-horizontal-right p{
    padding-left: 5px;
    width: auto;
}

.song-horizontal-name{
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: 5px;
}

.song-horizontal-name a{
    color: #fff;
    font-size: 120%;
}

.song-horizontal-artist{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.song-horizontal-artist a{
    color: #22aacc;
    font-size: 105%;
}

.song-horizontal-label{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.song-horizontal-label a{
    color: #888;
    font-size: 95%;
}

.song-horizontal-right button{
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0px;
    height: 25px;
    color: #eee;
    background: #ee32a0;
    font-family: cursive;
    transition: .5s all;
    font-weight: bold;
}

.song-horizontal:hover .song-horizontal-left span{
    display: inline-block;
    width: 50%;
    height: 50%;
}

.song-horizontal:hover .song-horizontal-left button{
    display: inline-block;
    opacity: 1;
}

.song-horizontal:hover .song-horizontal-right button{
    width: 60px;
}
/* End Horizontal  */



/* Song Vertical */
.song-vertical {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #333;
    overflow: hidden;
}

.song-vertical-top{
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}

.song-vertical-top img{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.song-vertical-top-control{
    position: absolute;
    top: 0%;
    left: 0%;
    display: inline-block;
    width: 0%;
    padding: 0;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s all;
}

.song-vertical-top button{
    padding: 0;
    border: 0;
    height: 30px;
    cursor: pointer;
}

.song-vertical-play{
    width: 30px;
    display: inline-block;
    vertical-align: top;
    background: #555;
    color: #eee;
    float: left;
}

.song-vertical-buy{
    width: 70px;
    font-family: cursive;
    display: inline-block;
    vertical-align: top;
    background: #ee2577;
    font-family: cursive;
    border: 0;
    float: left;
    color: #eee;
    font-weight: bold;
}

.song-vertical-share{
    width: 70px;
    display: inline-block;
    vertical-align: top;
    font-family: cursive;
    background: #2222ee;
    color: #eee;
    border: 0;
    float: left;
}

.song-vertical-share i{
    margin-right: 5px;
    font-size: 130%;
}

.song-vertical-top p{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    width: 0;
    height: 0%;
    background: #000;
    opacity: 0.3;
    transition: 0.5s all;
}

.song-vertical:hover .song-vertical-top-control{
    width: 100%;
}

.song-vertical:hover .song-vertical-top p{
    width: 100%;
    height: 100%;
}

.song-vertical-bottom{
    margin: 0;
    padding: 0;
}

.song-vertical-bottom a{
    text-decoration: none;
}
/* End Song Vertical */



/* String in Img */
.string-in-img{
    display: inline-block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    overflow: hidden;
    height: auto;
}

.string-in-img button{
    cursor: pointer;
}

.string-in-img img{
    width: 100%;
    display: inline-block;
}

.string-in-img-control{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    height: 0px;
    transition: 0.2s all;
}

.string-in-img-control button{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 0;
    padding: 0;
}

.string-in-img-control span{
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
    width: 0px;
    color: #22dd22;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-align: center;
    margin-right: 2%;
    overflow: hidden;
    transform: translateY(1000%);
    transition: 0.5s all;
    transition-timing-function: ease-in-out;
}

.string-in-img-fb{
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float: left;
    height: 100%;
    width: 30px;
    color: #fff;
    background: #2222ee;
    text-align: center;
    font-size: 100%;
    border-radius: 50%;
    margin: 0 2% 0 0;
    transition: 0.6s all;
    transform: translate(10000%,10000%);
}

.string-in-img-tw{
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 100%;
    width: 30px;
    color: #fff;
    background: #2222ee;
    text-align: center;
    font-size: 100%;
    float: left;
    border-radius: 50%;
    transition: 0.8s all;
    transform: translateX(1500%);
}

.string-in-img:hover .string-in-img-control span{
    transform: translateY(0);
    width: 70px;
    border: 2px solid #22dd22;
}

.string-in-img:hover .string-in-img-fb{
    transform: translate(0,0);
}

.string-in-img:hover .string-in-img-tw{
    transform: translateX(0);
}

.string-in-img:hover .string-in-img-control{
    height: 30px;
}

.string-in-img-name{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}

#string-name-right{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}

#string-name-right:hover{
    text-shadow:0 0 15px #f00;
}
/* END String in Img */




/* name song , artist and label */

.wrap-name-level{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 2px 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.name-level-1{
    color: #eee;
    font-size: 105%;
}
.name-level-1:hover{
    color: #eee;
    text-shadow: 0 0 15px #f00;
}
.name-level-2{
    color: #22bbcc;
    font-size: 100%;
}
.name-level-2:hover{
    color: #22bbcc;
    text-shadow: 0 0 15px #f00;
}
.name-level-3{
    color: #777;
    font-size: 95%;
}
.name-level-3:hover{
    color: #777;
    text-shadow: 0 0 15px #f00;
}
/* name song , artist and label */




/* All track */


body{
    padding: 0;
    margin: 0;
    background-color: #000;
}

.all-track{
    display: inline-block;
    width: 100%;
    font-family: cursive;
}

.all-track-title{
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #eee;
    padding-bottom: 20px;
    font-size: 130%;
}

.all-track-content{
    padding-top: 15px;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #888;
}

.all-track-content ul{
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.all-track-content li{
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background:#333;
}

.all-track-content li:first-child{
    color: #eee;
    background: transparent;
}

.all-track-play, .all-track-genre, .all-track-bpm, .all-track-key, .all-track-length, .all-track-buy{
    display: inline-block;
    float: left;
    width: 8.3333%;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    box-sizing : border-box;
    overflow: hidden;
    white-space: nowrap;
}

.all-track-buy{
    padding-right: 0;
}

.all-track-name, .all-track-artist, .all-track-remixer{
    display: inline-block;
    float: left;
    width: 16.6666%;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    box-sizing : border-box;
    overflow: hidden;
    white-space: nowrap;
}

.all-track-content a{
    text-decoration: none;
}

.all-track-buy button{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background: rgba(240, 70, 110, 0.5);
    height: 100%;
    width: 100%;
    color: #eee;
    font-weight: bold;
    font-size: 100%;
    cursor: pointer;
}

.all-track-play span{
    padding:0;
    margin: 0;
    color: #eee;
    font-size: 150%;
    display: inline-block;
    float: left;
    width: 40%;
    height: 100%;
}

.all-track-play button{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    border:0;
    background: transparent;
    cursor: pointer;
}

.all-track-play i{
    color: #888;
    font-size: 130%;
}

.all-track-name a{
    color: #eee;
}

.all-track-name a:hover{
    color: #eee;
    text-shadow:0 0 15px #f00;
}

.all-track-artist a{
    color: #22aadd;
}

.all-track-artist a:hover{
    color: #22aadd;
    text-shadow:0 0 15px #f00;
}

.all-track-remixer a{
    color: #22bb88;
}

.all-track-remixer a:hover{
    color: #22bb88;
    text-shadow:0 0 15px #f00;
}

.all-track-genre a{
    color: #bbb;
}

.all-track-genre a:hover{
    color: #bbb;
    text-shadow:0 0 15px #f00;
}

.all-track-bpm span{
    color: #666;
}

.all-track-key span{
    color: #666;
}

.all-track-length span{
    color: #666;
}

.all-track-content li:hover .all-track-play i{
    color: #eee;
    text-shadow:0 0 15px #f00;
}

.all-track-content li:hover .all-track-buy button{
    background: rgba(240, 70, 110, 1);
}
/* END All track */



/* Short string */
.short-text-content-more{
    color: #2222aa;
    cursor: pointer;
}

.short-text-content-less{
    color: #2222aa;
    display: none;
    cursor: pointer;
}
/* END Short string */