

body{
    padding: 0;
    margin: 0;
    background-color: #000;
}

.all-track{
    display: inline-block;
    width: 100%;
    font-family: cursive;
}

.all-track-title{
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #eee;
    padding-bottom: 20px;
    font-size: 130%;
}

.all-track-content{
    padding-top: 15px;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #888;
}

.all-track-content ul{
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.all-track-content li{
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background:#333;
}

.all-track-content li:first-child{
    color: #eee;
    background: transparent;
}

.all-track-play, .all-track-genre, .all-track-bpm, .all-track-key, .all-track-length, .all-track-buy{
    display: inline-block;
    float: left;
    width: 8.3333%;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    box-sizing : border-box;
    overflow: hidden;
    white-space: nowrap;
}

.all-track-buy{
    padding-right: 0;
}

.all-track-name, .all-track-artist, .all-track-remixer{
    display: inline-block;
    float: left;
    width: 16.6666%;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    box-sizing : border-box;
    overflow: hidden;
    white-space: nowrap;
}

.all-track-content a{
    text-decoration: none;
}

.all-track-buy button{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background: rgba(240, 70, 110, 0.5);
    height: 100%;
    width: 100%;
    color: #eee;
    font-weight: bold;
    font-size: 100%;
    cursor: pointer;
}

.all-track-play span{
    padding:0;
    margin: 0;
    color: #eee;
    font-size: 150%;
    display: inline-block;
    float: left;
    width: 40%;
    height: 100%;
}

.all-track-play button{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    border:0;
    background: transparent;
    cursor: pointer;
}

.all-track-play i{
    color: #888;
    font-size: 130%;
}

.all-track-name a{
    color: #eee;
}

.all-track-name a:hover{
    color: #eee;
    text-shadow:0 0 15px #f00;
}

.all-track-artist a{
    color: #22aadd;
}

.all-track-artist a:hover{
    color: #22aadd;
    text-shadow:0 0 15px #f00;
}

.all-track-remixer a{
    color: #22bb88;
}

.all-track-remixer a:hover{
    color: #22bb88;
    text-shadow:0 0 15px #f00;
}

.all-track-genre a{
    color: #bbb;
}

.all-track-genre a:hover{
    color: #bbb;
    text-shadow:0 0 15px #f00;
}

.all-track-bpm span{
    color: #666;
}

.all-track-key span{
    color: #666;
}

.all-track-length span{
    color: #666;
}

.all-track-content li:hover .all-track-play i{
    color: #eee;
    text-shadow:0 0 15px #f00;
}

.all-track-content li:hover .all-track-buy button{
    background: rgba(240, 70, 110, 1);
}